/* general */
    @font-face {
        font-family: cedarville;
        src: url(../assets/fonts/CedarvilleCursive.woff);
    }

    @font-face {
        font-family: cadro;
        src: url(../assets/fonts/Cardo-Regular.woff);
    }

    @font-face {
        font-family: Josefin;
        src: url(../assets/fonts/Josefin-Sans.woff);
    }

    @font-face {
        font-family: jost;
        src: url(../assets/fonts/Jost.woff);
    }

    @font-face {
        font-family: josefin-bold;
        src: url(../assets/fonts/JosefinBold.woff);
    }

    @font-face {
        font-family: josefin-medium;
        src: url(../assets/fonts/JosefinSans-Medium.woff);
    }

    @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500&display=swap');

    body{
        background-color: #ffffff;
    }

    body {
        scroll-behavior: smooth;
        overflow-x: hidden;-ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        z-index: 1;
    }
    
    body {
        overflow: scroll;
        overflow-x: hidden;
        margin: 0;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }

    div{
        margin :auto;
    }

    .cedarville{
        font-family: cedarville;
    }

    .cadro{
        font-family: cadro;
    }

    .josefin{
        font-family: 'Josefin';
    }

    .jost{
        font-family: 'jost';
    }

    .lexendDeca{
        font-family: 'LexendDeca';
    }

/* navbar */

    #navbar{
        display: flex;
        justify-content: space-evenly;
        background: #C8F2F4
    }

    .logo{
        font-size: 3vh;
        margin-left: 6vw;
    }

    #navbtns{
        color: black;
        font-size: 3vh;
        display: flex;
        margin-right: 6vw;
    }

    .a_black{
        color: black;
        text-decoration: none;
    }

    .pagelinks{
        /* font-weight: 600; */
        font-family: josefin-bold;
    }

/* logo + name */

    #katalyst{
        display: flex;
        /* background-color: #0c8eb90e; */
        margin-top: 6vh;
        text-align: center;
    }

    .name-container{
        margin-top: 6vh;
    }

    .bold-name{
        font-family: josefin-medium;
        font-size: 17vh;
    }

    .sub-txt{
        font-family: cedarville;
        font-size: 6.05vh;
        line-height: 1;
    }

    .capk-cont{
        background-color: #e3ebe7;
        margin-bottom: 0;
        height: 45vh;
        width: 40vh;
    }

    .capk{
        font-size: 45vh;
        color: rgba(68, 74, 74, 1);
        line-height : 0;
    }

    #intro{
        display: flex;
        text-align: left;
        margin: 0 12vh;
    }

    #testtube-cont{
        display: flex;
        margin-top: 8vh;
        padding-top: 12vh;
    }

    #testtube{
        width: 36vh;
        /* background-color: #e3ebe7; */
    }

    #intro-txt{
        width: 60vw;
        margin-top: 12vh;
        /* margin-right: 15vh; */
    }

    .intro-rotate {
        font-size: 3.5vh;
        position: relative;
        left: 0vw;
        top: 6vw;
        transform: rotate(-90deg);
        width: 0px;
        height: 0;
    }

    .heading{
        font-family: josefin-medium;
        font-size: 6vh;
        text-align: center;
    }

    .intro-writeup{
        
        color: #444A4A;
        font-family: jost;
    }

    .int{
        text-align: left;
        padding-top: 8vh;
        color: #444A4A;
        /* margin-left: 20vh; */
        /* margin-right: 20vh; */
        margin: 0 40vh;
        font-family: jost;
        text-align: justify;
    }

    #zero{
        align-self: center;
    }

    #zero_order{
        padding-top: 8vh;
        text-align: center;

    }
/* basic kinetics */

    #basics{
        display: flex;
        text-align: justify;
        margin: 0 12vh;
    }

    .basics-rotate {
        font-size: 3.5vh;
        position: relative;
        left: -4vw;
        top: 6vw;
        transform: rotate(-90deg);
        width: 0px;
        height: 0;
    }

p {
    font-size: large;
    /* font-weight: 600; */
}

.slider {
    -webkit-appearance: none;
    width: 67vw;
    height: 5px;
    background: rgb(155 155 155 / 80%);
    outline: none !important;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius:50px;
    padding: 4px;
    background:  #dc143c;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius:50px;
    background:  #dc143c;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
  }